@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
	margin: 0;
	padding: 0;
/*	height: 100%*/
}
/*
.all{
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: 100%;
	overflow: hidden
}
*/
.container{
	height: 100vh;
	width: 100%;
/*	background-color: #657D81;*/

	

	
}
.header{
	padding: 20px 50px;
	position: fixed;
	z-index: 100
}
.aa{
	background-color: #657D81;
	width: 50%;;
	float: right;
	height: 100vh;
}
.logo{
	float: left;
}
.logo2{
	padding: 15px;
	float: left;
/*	background-color: red;*/
	margin-left: 95px
}
.logo2 a{
	text-decoration: none;
	color: black;
/*	font-family: 'Merriweather Sans', sans-serif;*/font-family: 'Oswald', sans-serif;
	padding: 15px ;
}
.logo img{
	width: 80px
}
.menu{
	float: right
}
nav{
	width:30%;
	height:35%;
/*	background-color: violet;*/
	position: absolute;
	transform: rotate(90deg);
	top: 47%;
	left: 75%;
	
}
nav ul {
	list-style: none;
	
}
nav ul li{
	float: left;
	padding: 20px;	
}
nav ul li a{
	color: black;
	text-decoration: none;
/*	font-family: 'Merriweather Sans', sans-serif;*/font-family: 'Oswald', sans-serif;
}
.avt{
	float: right;
	margin-right: 200px;
	margin-top: 150px;
	z-index: 1000;
	position: relative;
}
.avt img{
	width: 400px;
	
}
.name{
/*	padding-left: 50px;*/
	float: left;
/*	background-color: rebeccapurple;*/
	margin-top: 420px;
	color: black;
/*	font-family: 'Oswald', sans-serif;*/font-family: 'Oswald', sans-serif;
/*	margin-left: -20px;*/
	margin-left: 50px
}
.name h1{
	font-size: 70px;color: black;
/*	font-family: 'Oswald', sans-serif;*/font-family: 'Oswald', sans-serif;
	margin-top: 2px
}
/*.name h2{*/
/*
	font-size: 30px;
	margin-top: -38px;
	color: #657D81;
	font-family: 'Bai Jamjuree', sans-serif;
}
*/
.name p{
	font-size: 30px;
	margin-top: -45px;
/*	color: #657D81;*/
	font-family: 'Oswald', sans-serif;
}
/*
.nen{
	width: 50%;
	height:100vh;
	background-color:#657D81 ;
	float: right;
	margin-top: -600px;
}
*/
.mainimg{
	width: 100%;
	height: 100vh;
/*	background-image: url("../../../d2008g2/a.jpg");*/
	background-color: #2E393B;
/*	background-size: cover;*/
/*	padding-top: 20px*/;
	margin-top: 40px;
}
.maincontent{
	width: 1000px;
	height: 650px;
	background-color: #657D81;
	float: right;
	margin-top: 103px;
/*	font-family: 'Bai Jamjuree', sans-serif;*/
}
.maincontent h1{
	padding: 50px;
	font-size: 80px;color: black;
	 -webkit-text-fill-color: white ; ; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
/*	font-family: 'Oswald', sans-serif;*/
	font-family: 'Monda', sans-serif;
}
.maincontent p{
	float: right;
/*	margin-right: 50px;*/
	font-size: 25px;
	margin-top: 10px;
/*	padding-bottom: 100px;*/
	padding-left: 200px;
	padding-right: 50px;
/*	background-color: red;*/
	color: black;
		font-family: 'Oswald', sans-serif;
}


 
.box-main{
	margin-left: 300px;
	margin-right: 300px;
	background: #657D81
}
.seaction-title{
/*	color:red;*/
	text-align: center;
	margin-top: 40px;
	font-size: 50px;
	font-family: 'Monda', sans-serif;
	 -webkit-text-fill-color: white ; ; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.skills-subtitle {
	color: black;
}
.skills-container{
	row-grap: 2rem;
	padding: 20px;
	font-family: 'Monda', sans-serif;
}
.skills-subtitle{
	color: black;
	margin-bottom: var(--mb-3)
}
.skills-name{
	display: inline-block;
	font-size: 20px;
	margin-bottom: var(--mb-3);
	padding: .25rem .5rem;
	background-color: black;
	border-radius: .25rem;
	color: white;
	font-family: 'Oswald', sans-serif;
}
.skills-name:hover{
	background-color: grey;
}
.skills-img img{
	border-radius: .5rem;
	float: right;
	margin-top: -150px;
	width: 300px
} 

.my-portfolio{
	width: 100%;
	padding: 20px 0;
/*	background: pink;*/
	margin-top: 190px;
	
}
.my-portfolio h1{
	text-align: center;
	margin-bottom: px;
	font-size: 50px;
	font-family: 'Monda', sans-serif;
	 -webkit-text-fill-color: white ; ; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.album{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background: #657D81;
	justify-content: space-around
}
.tab{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 24px;
}
.tabcontent{
/*	border: 1px solid black;*/
	animation: fadeEffect 1s;
	margin-top: 10px; 
/*	background: red;*/
	padding: 50px;
	
}
/*
.tabcontent a{
	margin: 20px 20px
}
*/
.album a{
	margin: 14px 0;
}
.tabcontent img{
	width: 360px;
}
.tablinks{
	padding: 5px 20px;
	font-size: 18px;
	background: none;
	border: none;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
}
.tab button:hover{
	background:black;
	color: white;
}
.tab button.active{
	background:black;
	color: white;
	font-family: 'Monda', sans-serif;
}
.col-12 h1{
	margin-top: 60px
}
.footer{
	background: rgba(231,231,231,1.00);
}
.footer-container{
	width: 100%;
	row-gap: 2rem;
	background: black;
	color: white;
	font-family: 'Monda', sans-serif;
}
.footer-title{
	font-size:30px;
	color: white;
	margin-top: 20px;
	 -webkit-text-fill-color: black ; ; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.footer-link{
	padding: .25rem 0;
	text-decoration: none;
	color: white
}
.footer-link:hover{
	color: grey;
}
.footer-social{
	box-sizing: border-box;
	color: white;
	margin-bottom: 20px;
}
.footer-social svg{
	color: white
}
.footer-social a{
	padding: 5px;
}
.logo3{
/*	background: rgba(255,192,203,1.00)*/
}
.logo3 img{
	width: 100px;
	height: 100%;
	margin-top: 20px
}
.box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: -10px;
}
.footer-bottom{
	background: #657D81;
	width: 100%;
	padding: 20px 0;
	text-align: center
}
.footer-bottom p{
	word-spacing: 2px;
	text-transform: capitalize;
	color: black;
	font-family: 'Oswald', sans-serif;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity:  .5;
	font-weight: 200;
}


/*

css menu
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 65px;
  color: white;
  display: block;
  transition: 0.3s;
	font-family: 'Merriweather Sans', sans-serif;
	
}
.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@font-face
{
	font-family: tieude;
	src:url("font/Ubuntu-Bold.ttf")
}
*/
